h1 {
  color: #cccccc;
}

.circle {
  border-radius: 100%;
  height: 16px;
  width: 16px;
  margin: 2px;
}

#containerPrincipal {
  display: flex;
  justify-content: space-between;
}

#containerEsquerda {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#containerDireita {
  display: flex;
  justify-content: space-between;
}
