h1 {
  color: #cccccc;
  font-family: sans-serif;
}

#containerPrincipal {
  display: flex;
  justify-content: space-between;
}

#containerEsquerda {
  flex-grow: 3;
  width: auto;
}

#containerDireita {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: auto;
  align-items: center;
}

#btnFinish {
  border: 0;
  padding: 0.5em;
  background-color: #10b5c7;
  width: 40%;
  border-radius: 15px;
  color: white;
  font-weight: 800;
  margin: 1.5em auto;
}
