@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.footer {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 0.9em;
    font-family: 'Roboto';
    background-color: #8CD6EE;
    height: 5vh;
    width: 100%;
    margin: 0;
    color: black;
    position: fixed;
    bottom: 0;
}

.footer li {
    margin: auto;
}
